{% extends "layout.html" %} {% block content %}

<div
  class="hero-full-container background-image-container white-text-container"
  style="background-image: url('./static/assets/images/space.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-full-wrapper">
          <div class="text-content">
            <h1>
              Hello,<br />
              <span id="typed-strings">
                <span>I'm Latuns,</span>
                <span>a British Python Expertr</span>
                <span>Working at Meta Platforms</span>
              </span>
              <span id="typed"></span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function (event) {
    type();
    movingBackgroundImage();
  });
</script>

<script type="text/javascript" src="./static/app.js"></script>

{% endblock %}
